<swal
    #deleteSwal
    title="¿Está seguro que desea eliminar?"
    text="Los datos no se recuperarán."
    type="warning"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>


<div style="width: 100vw;">
  <div class="row m-0">
    <div class="col-md-8 mb-3 text-right offset-md-2">
      <button class="btn btn-primary btn2" (click)="openModal(content, newMunicipioForm)" data-toggle="modal" data-target="#modalUser">Agregar</button>
    </div>

    <div class="row m-0">
      <div class="form-group">
        <input type="text" class="form-control" name="filterMun" placeholder="Buscar" [(ngModel)]="filterMun">
      </div>
    </div>

    <div class="col-md-6  offset-md-3" *ngFor="let user of users | filter: filterMun" >
      <div class="card mt-4">
        <h3 class="card-header bg-light ">{{user.data.nombre}}</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6" >
                  <b>IGECEM: </b>{{user.data.igecem}}
                </div>
                <div class="col-md-6" >
                  <b>Superficie: </b>{{user.data.superficie}}
                </div>
                <div class="col-md-6">
                  <b>Cabecera: </b>{{user.data.cabecera}}
                </div>
                <div class="col-md-6">
                  <b>Altitud: </b>{{user.data.altitud}}
                </div>
                <div class="col-md-6">
                  <b>Clima: </b>{{user.data.clima}}
                </div>
                <div class="col-md-6">
                  <b>Latitud: </b>{{user.data.latitud}}
                </div>
                <div class="col-md-6">
                  <b>Longitud: </b>{{user.data.longitud}}
                </div>
                <div class="col-md-6">
                  <b>Significado: </b>{{user.data.significado}}
                </div>
                <div class="col-md-6">
                  <b>Desastre(s): </b>{{user.data.desastre}}
                </div>
              </div>
            </div>
            <div class="col-md-3   ">
              <button class="btn btn-block btn-primary btn1"
                      (click)="openModal(content, newMunicipioForm,user)">Editar</button>
            </div>
            <div class="col-md-3 ">
              <button class="btn btn-block btn-danger btn2"
                      [swal]="deleteSwal"
                      (confirm)="delete(user)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content>
  <div class="row m-0 ">
    <div class="modal-header" >
      <h5 class="modal-title">Nuevo municipio</h5>
    </div>

    <div class="col-md-12 p6">
      <form (ngSubmit)="upsert(newMunicipioForm.value)" [formGroup]="newMunicipioForm">
        <div class="row">
          <input type="hidden" formControlName="id">

          <div class="col-md-6">
            <div class="form-group">
              <label for="igecem">IGECEM</label>
              <input type="text" formControlName="igecem" class="form-control" id="igecem">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" id="nombre">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="cabecera">Cabecera</label>
              <input class="form-control" type="text" formControlName="cabecera" id="cabecera">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="superficie">Superficie(km2)</label>
              <input class="form-control" type="text" formControlName="superficie" id="superficie">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="altitud">Altitud</label>
              <input class="form-control" type="text" formControlName="altitud" id="altitud">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Climas</mat-label>
                <mat-select formControlName="clima" id="clima">
                  <mat-option *ngFor="let climas of tiposClimas" [value]="climas">{{climas}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="latitud">Latitud</label>
              <input class="form-control" type="text" formControlName="latitud" id="latitud"  value="{{latitude}}" readonly="readonly"></div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="longitud">Longitud</label>
              <input class="form-control" type="text" formControlName="longitud" id="longitud" value="{{longitude}}" readonly="readonly"></div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="significado">Significado</label>
              <input class="form-control" type="text" formControlName="significado" id="significado">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Desastre natural</mat-label>
                <mat-select multiple formControlName="desastre" id="desastre">
                  <mat-option *ngFor="let desastre of tiposDesastres" [value]="desastre">{{desastre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- app.component.html -->
          <div class="container">
            <div class="form-group">
              <label>Ingresa dirección</label>
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Busca una dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>

            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                          (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>

            <h5>Dirección: {{address}}</h5>
            <div>Latitud: {{latitude}}</div>
            <div>Longitud: {{longitude}}</div>
          </div>


          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!newMunicipioForm.valid">
              Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
